body{
    background-color: papayawhip;
    color: saddlebrown;
    margin-left: 90px;
    margin-right: 90px;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    width: 300px;
}

table{
    margin: auto;
}

th{
    width: 120px;
}

.piros{
    background-color: #FF6C6C;
}

.zold{
    background-color: greenyellow;
}

.sarga{
    background-color: yellow;
}

.lila{
    background-color: #D27AF3;
}

img{
    height: 100px;
    width: 900px;
}

li{
    border: 1px solid lightblue;
    width: 200px;
    height: 60px;
    text-align: left;
    background-color: white;
}
ul{
    list-style: url(chili-pepper-icon.gif);
}
menu{
    float: left;
    margin-right: 90px;
}

header{
    height: 120px;
    background-image: url(MicrosoftTeams-image\ \(3\).png);
    background-size: cover;
}

main{
    margin-right: 90px;
}

.jobbra{
    float: right;
}