body{
  background: rgb(218,161,0);
  background: linear-gradient(90deg, rgba(218,161,0,1) 0%, rgba(121,69,9,1) 100%, rgba(0,212,255,1) 100%);
    color: #630606;
    
    margin-left: 90px;
    margin-right: 90px;
}

table{
    width: 300px;
}

table, td, th{
    background-color: #D9CE3F;
    color: black;
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 26px 21px 50px 0px rgba(0,0,0,0.48);
    
    
}

menu{
  float: left;
  margin-right: 90px;
  margin-top: 40px;
}


h2{
  color: #890F0D;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #E83A14, 0 0 30px #E83A14, 0 0 40px #E83A14, 0 0 55px #E83A14, 0 0 75px #E83A14, 4px 1px 0px rgba(28,155,255,0);
}

table{
    margin: auto;
}

th{
    width: 120px;
    height: 40px;
}

.piros{
    background-color: #FF6C6C;
}

.zold{
    background-color: greenyellow;
}

.sarga{
    background-color: rgba(255, 255, 80, 0.75);
}

.lila{
    background-color:hsl(281, 89%, 64%);
}

img{
    height: 100px;
    width: 900px;
}

li{  
    color: #E83A14;
    width: 200px;
    height: 60px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    -webkit-border-radius: 30px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius: 30px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-radius: 30px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #E83A14;
}
ul{
    list-style: url(chili-pepper-icon.gif);
}


header{
    height: 120px;
    background-image: url(MicrosoftTeams-image\ \(3\).png);
    background-size:cover;
}

.main{  
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 60px;
}

